@font-face {
  font-family: "iconfont"; /* Project id 5071532 */
  src: url('iconfont.woff2?t=1763727725822') format('woff2'),
       url('iconfont.woff?t=1763727725822') format('woff'),
       url('iconfont.ttf?t=1763727725822') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-APIguanli-01:before {
  content: "\e67e";
}

.icon-APIguanli:before {
  content: "\e71d";
}

.icon-yonghuguanli:before {
  content: "\e62f";
}

