# 忽略 public 和 docs 目录
public/
docs/

# 忽略所有 markdown 文件（如果不想格式化）
*.md

# 忽略 node_modules
node_modules/

# 忽略 build 输出目录
dist/
build/

vite.config.js
README.md
prettier.config.js
pnpm-lock.yaml
package.json
eslint.config.js
.prettierignore
.gitignore
src/assets/
.git/
